@model IEnumerable<Core.Entities.Department>

<h1>Index</h1>
<form>
    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#createDepartment">Create</button>

        <div class="input-group">
            <input type="text" name="search" value="@ViewBag.SearchData" class="form-control" aria-describedby="btnGroupAddon2">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" asp-action="Index" type="submit">Search</button>
            </div>
        </div>

    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
            <button class="dropdown-item" value="@(ViewBag.PageSize = 5)" asp-action="Index" type="submit">5</button>
            <button class="dropdown-item" value="@(ViewBag.PageSize = 10)" asp-action="Index" type="submit">10</button>
            <button class="dropdown-item" value="@(ViewBag.PageSize = 50)" asp-action="Index" type="submit">50</button>
        </div>
    </div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                <td>
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@("#editDepartment-"+item.Id)" data-url="@Url.Action($"Edit/{item.Id}")">Edit</button>
                        @await Html.PartialAsync("Edit", item)
                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="@("#deleteDepartment-"+item.Id)" data-url="@Url.Action($"Delete/{item.Id}")">Delete</button>
                        @await Html.PartialAsync("Delete", item)
                </td>
            </tr>
        } 
    </tbody>
</table>
    @await Html.PartialAsync("Create",new Core.Entities.Department())

        <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @(ViewBag.CurrentPage <= 1 ? "disabled" : "")"><a class="page-link" asp-route-currentPage="@(ViewBag.CurrentPage - 1)" asp-action="Index">Previous</a></li>
        @for (int i = 0; i < ViewBag.TotalPage; i++)
        {
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-currentPage="@(i+1)" >@(i + 1)</a></li>
        }
        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")"><a class="page-link" asp-route-currentPage="@(ViewBag.CurrentPage + 1)" asp-action="Index">Next</a></li>
    </ul>
</nav>
</form>

