@model IEnumerable<Core.Entities.HospitalBed>;
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>Total Beds: @ViewBag.TotalItems</h3>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Find by name: <input type="text" name="searchName" value="@ViewBag.searchName" placeholder="Search Key" />
            <input type="submit" value="Search" class="btn btn-primary" /> 
            
                <a asp-action="Index">Back to List</a>
         
        </p>
    </div>
</form>
<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <td>ID Giường</td>

            <td>ID Phòng</td>

            <td>ID Bệnh nhân</td>

            <td>Trạng thái</td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IDPatient)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                
                <td>
                    <a class="btn btn-success" href="bed/Edit/@item.Id">Edit</a>

                    <a  class="btn btn-danger" href="bed/Delete/@item.Id">Delete</a>
                </td>
                

            </tr>
        }
    </tbody>
</table>
<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class="page-item"><a class="page-link" href="/bed?searchName=@(ViewBag.searchName)&pageIndex=@(ViewBag.PageIndex-1)">Pre</a></li>
        <li class="page-item"><a class="page-link" href="/bed?searchName=@(ViewBag.searchName)&pageIndex=@(ViewBag.PageIndex)">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="/bed?searchName=@(ViewBag.searchName)&pageIndex=@(ViewBag.PageIndex+1)">Next</a></li>
    </ul>
</nav>

