@model IEnumerable<Core.Entities.Shift>

@{
    ViewData["Title"] = "Index Shift";
}

<h1 class="text-center">List Shift</h1>
<hr />

<form asp-controller="Shift" asp-action="Search" class="row form-inline" style="margin-top: 5vh;">
    <div class="form-actions col text-center">
        <p>
            <input type="text" value="@ViewData["CurrentFilter"]" name="searchString" placeholder="Find by shift name" class="form-control mr-sm-2">
            <input type="submit" value="Search" class="btn btn-info" />
        </p> 
    </div>
</form>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>Number</th>
            <th>Shift Name</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>
                <a asp-action="CreateOrEdit" class="btn btn-success">Create New</a>
            </th>
        </tr>
    </thead>
    <tbody>
        @{
            int j = 0;
        }
        @foreach (var item in Model)
        {
            j++;
            <tr>
                <td>
                   @j
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <div class="btn-group">
                        <a asp-action="CreateOrEdit" asp-route-id="@item.Id" class="btn btn-warning" role="button">Edit</a> | 
                        <form asp-action="Remove" asp-route-id="@item.Id">
                            <button type="submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this?')">
                                Delete
                            </button>
                        </form>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>

<div aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @(ViewBag.CurrentPage <= 1 ? "disabled" : "")"><a class="page-link" asp-route-currentPage="@(ViewBag.CurrentPage - 1)" asp-action="Index">Previous</a></li>
        @for (int i = 0; i < ViewBag.TotalPage; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i+1 ? "active" : "")"><a class="page-link" asp-action="Index" asp-route-currentPage="@(i+1)">@(i + 1)</a></li>
        }
        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")"><a class="page-link" asp-route-currentPage="@(ViewBag.CurrentPage + 1)" asp-action="Index">Next</a></li>
    </ul>
</div>