@model IEnumerable<Core.Entities.Shift>

@{
    ViewData["Title"] = "Index Shift";
}

<h1 class="text-center">List Shift</h1>
<hr />

<div style="margin-top: -9vh;">
    <a asp-action="Create" class="btn btn-primary" role="button">Create New</a>
    <a asp-action="Index" class="btn btn-primary float-right" role="button">Back to Full List</a>
</div>

<form asp-controller="Shift" asp-action="Search" class="row form-inline" style="margin-top: 5vh;">
    <div class="form-actions col text-center">
        <p>
            <input type="text" value="@ViewData["CurrentFilter"]" name="searchString" placeholder="Find by shift name" class="form-control mr-sm-2">
            <input type="submit" value="Search" class="btn btn-success" />
        </p> 
    </div>
</form>
<table class="table table-bordered table-hover">
    <thead class="thead-dark">
        <tr>
            <th>
                Shift Name
            </th>
            <th>
                Start Time
            </th>
            <th>
                End Time
            </th>
            <th>Option</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ShiftName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning" role="button">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.Id"class="btn btn-danger" role="button">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<div aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @(ViewBag.CurrentPage <= 1 ? "disabled" : "")"><a class="page-link" asp-route-currentPage="@(ViewBag.CurrentPage - 1)" asp-action="Index">Previous</a></li>
        @for (int i = 0; i < ViewBag.TotalPage; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i+1 ? "active" : "")"><a class="page-link" asp-action="Index" asp-route-currentPage="@(i+1)">@(i + 1)</a></li>
        }
        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")"><a class="page-link" asp-route-currentPage="@(ViewBag.CurrentPage + 1)" asp-action="Index">Next</a></li>
    </ul>
</div>