@model IEnumerable<Core.Entities.Shift>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
@*    <div class="row">
        <div class="col-md-4">
            <form asp-controller="Shift" asp-action="Search">
                <span class="btn-group col-md-12">
                    <input class="form-control " type="text" name="searchName" placeholder="Search Key" />
                    <button type="submit" class="btn btn-primary">Search</button>
                </span>
            </form>
        </div>
    </div>*@
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ShiftName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ShiftName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdShift">Edit</a> |
                <a asp-action="Delete" asp-route-id="@item.IdShift">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
