@model IEnumerable<Core.Entities.MedicineBill>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(item => item.DoctorID)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.DateCreate)
            </th>
            <th>
                @Html.DisplayNameFor(item => item.PayStatus)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorID)
            </td>
            <td>
                @item.DateCreate.ToString("dd/MM/yyyy")
            </td>
            <td>
                    @(item.PayStatus == false ? "No" : "Yes")
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<div aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        <li class="page-item @(ViewBag.CurrentPage <= 1 ? "disabled" : "")"><a class="page-link" asp-route-currentPage="@(ViewBag.CurrentPage - 1)" asp-action="Index">Previous</a></li>
        @for (int i = 0; i < ViewBag.TotalPage; i++)
        {
            <li class="page-item @(ViewBag.CurrentPage == i+1 ? "active" : "")"><a class="page-link" asp-action="Index" asp-route-currentPage="@(i+1)">@(i + 1)</a></li>
        }
        <li class="page-item @(ViewBag.CurrentPage == ViewBag.TotalPage ? "disabled" : "")"><a class="page-link" asp-route-currentPage="@(ViewBag.CurrentPage + 1)" asp-action="Index">Next</a></li>
    </ul>
</div>