@model Core.Entities.Nurse

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>Nurse</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Phone)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Phone)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Address)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Address)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.IsDelete)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.IsDelete)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.CreateDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.CreateDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ModifyDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ModifyDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.JoinDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.JoinDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Departments)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DepartmentId)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
        <a asp-action="Index">Back to List</a>
    </div>
</body>
</html>