@model Core.Entities.Pages


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <form>
        <div class="form-group ">
    <button type="button" class="btn btn-outline-primary btn-sm">
        <a asp-action="Create" >Thêm mới</a>
    </button>
            <table class="table border">
        <thead>
            <tr>
                <th>
                    <h5>Tên</h5>
                </th>
                <th>
                    <h5>Số điện thoại</h5>
                </th>
                <th>
                    <h5>Địa chỉ</h5>
                </th>
                <th>
                    <h5>Phòng ban</h5>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
                    @foreach (var nurses in Model.Nurses)
                    {
                        <tr>
                            <td>@nurses.Name</td>
                            <td>
                                @nurses.Phone
                            </td>
                            <td>
                                @nurses.Address
                            </td>
                            <td>
                                @nurses.Departments.Name
                            </td>
                            <td>
                                <a asp-action="Edit" asp-route-id="@nurses.Id" type="button" class="btn btn-outline-primary btn-sm">Chỉnh Sửa</a> |
                                <a asp-action="Delete" asp-route-id="@nurses.Id" type="button" class="btn btn-outline-primary btn-sm">Xóa</a>
                            </td>
                        </tr>
                    }
        </tbody>
    </table>
    </div>
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                @for (int i = 0; i < Model.PageCount; i++)
                {
                    @if (i != ViewBag.CurrentPageIndex)
                    {

                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-currentPageIndex="@i" asp-route-currentPage="@i">@(i + 1)</a></li>
                    }
                    else
                    {

                        <li class="page-item"><a class="page-link" asp-action="Index" asp-route-currentPageIndex="@i" asp-route-currentPage="@i">@(i + 1)</a></li>

                    }
                }
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </form>
</body>
</html>
