@model IEnumerable<Core.Entities.MedicineInfomation>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Medicine name
            </th>
            <th>
                Import date
            </th>
            <th>
                Expire date
            </th>
            <th>
                Quantity
            </th>
            <th>
               Unit price
            </th>
            <th>
                Status
            </th>
            <th>
                Medicine type
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @item.ImportDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @item.ExpireDate.ToString("dd/MM/yyyy")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UnitPrice)
                </td>
                <td>
                    @(item.IsEmpty == true ? "Out of stock" : "In stock")
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.MedicineTypes.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
